@font-face {
  font-family: "neue-montreal-bold";
  src: url("fonts/NeueMontreal-Bold.otf");
}

@font-face {
  font-family: "neue-montreal-light";
  src: url("fonts/NeueMontreal-Light.otf");
}

@font-face {
  font-family: "neue-montreal-medium";
  src: url("fonts/NeueMontreal-Medium.otf");
}

@font-face {
  font-family: "neue-montreal-regular";
  src: url("fonts/NeueMontreal-Regular.otf");
}

:root {
  --scheme-white: #f4f4f9;
  --scheme-blue: #5762d5;
  --scheme-black: #21273b;
  --scheme-red: #ff6b6b;
  --scheme-aqua: #00bfb2;
  --scheme-grey: #5d5f68;
}

.red {
  color: var(--scheme-red);
}

.blue {
  color: var(--scheme-blue);
}

.green {
  color: var(--scheme-aqua);
}

.grey {
  color: var(--scheme-grey);
}

.big {
  font-size: 30px;
}

.whiteBG {
  background-color: var(--scheme-white);
  color: var(--scheme-black);
}

.redBG {
  background-color: var(--scheme-red);
  color: var(--scheme-white);
}

body {
  font-size: 15px;
  background-color: var(--scheme-blue);
  font-family: neue-montreal-regular, helvetica;
}

.bold {
  font-family: neue-montreal-bold, helvetica;
}

.medium {
  font-family: neue-montreal-medium, helvetica;
}

h1 {
  font-size: 30px;
  font-family: neue-montreal-bold, helvetica;
}

h2 {
  font-size: 23px;
  font-family: neue-montreal-bold, helvetica;
}

h3 {
  font-size: 18px;
  font-family: neue-montreal-regular, helvetica;
}

button {
  cursor: pointer;
}

input:focus {
  outline-width: 0;
}

.clickable {
  cursor: pointer;
}

.greyOutBG {
  position: fixed;
  top:0;
  height: 100%;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.8);
  z-index: 1;
}

.text-editor {
  width: 100%;
  height: 100vh;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--scheme-white);
  overflow: hidden;
}

.editorNavBar {
  padding-top: 5px;
  background-color: var(--scheme-blue);
  height: 27px;
  font-size: 18px;
  color: white;
  font-family: neue-montreal-medium, helvetica;
  position: relative;
}

.editorNavBar .leftAlign {
  background-color: var(--scheme-blue);
  float: left;
  padding-left: 30px;
}

.editorNavBar .rightAlign {
  background-color: var(--scheme-blue);
  position:absolute;
  right: 0;
  padding-right: 30px;
}

.editorNavBar a {
  color: white;
  text-decoration: none;
}

.editorComponent {
  margin-top: 50px;
  width: 78%;
  float:right;
  margin-right: 2%;
  height: 85%;
}

.editor-container {
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #999;
  width: 100%;
  overflow-y:scroll;
  height: 100%;
  background-color: #DDE;
}

.editorBorder {
  margin-top: 5px;
  margin-bottom:20px;
  width: 95%;
  height: 2px;
  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
  position:relative;
  left: 50%;
  transform:translate(-50%,0);
}

.editorComponent h2 {
  border-bottom: solid;
  border-width: 2px;
}

.workspace-title {
  float: left;
  margin-bottom: 10px;
}

.userPanel {
  height: 100%;
  width: 17%;
  float:left;
  position: absolute;
  background-color: var(--scheme-black);
  padding-top: 30px;
}

.userPanel p {
  font-size: 20px;
}

.panelContent {
  color: var(--scheme-white);
  background-color: var(--scheme-black);
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  text-align: left;
}

.panelContent li {
  cursor: pointer;
}

.panelContent ul {
  list-style: none;
}

.panelContent li::before {
  content: "🡒";  
  color: var(--scheme-red); 
  font-weight: bold;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}

.selectedListItem {
  padding-left: 5px;
}

.selectedListItem::before {
  color: var(--scheme-aqua) !important; 
}

.container {
  font-size: 28px;
}

.block {
  background-color: black;
}

.navBar {
  background-image: url("images/svgs/top_blue_1.svg");
  background-size: cover;
  background-position: bottom;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
  color: var(--scheme-white);
  height: 120px;
  font-family: neue-montreal-medium, helvetica;
}

.navBar img {
  width: 55px;
  height: auto;
  padding-left: 4.2%;
  padding-top: 21px;
  float: left;
}

.navBar ul {
  padding-top: 5px;
  text-align: right;
  padding-right: 5%;
}

.navBar li {
  display: inline-block;
  padding-left: 25px;
  color: var(--scheme-white);
}

.searchUserField input {
  border-color: var(--scheme-black);
  border-style: solid none solid solid;
  border-radius: 28px 0 0 28px;
  background-color: var(--scheme-white);
  padding-left: 14px;
  height: 30px;
  font-family: neue-montreal-medium, helvetica;;
}

.searchUserField button {
  border-color: var(--scheme-black);
  border-style: solid solid solid none;
  border-radius: 0 28px 28px 0;
  background-color: var(--scheme-white);
  padding-right: 15px;
  padding-left: 6px;
  height: 36px;
  position: relative;
  top: 1px;
}

.footer {
  background-image: url("images/svgs/bottom_blue_1.svg");
  background-size: cover;
  background-position: top;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
  color: var(--scheme-white);
  height: 125px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border-color: var(--scheme-black);
  border-style: solid;
  border-radius: 28px;
  cursor: pointer;
}

div {
  background-color: var(--scheme-white);
  text-align: center;
  clear: both;
}

.welcome {
  height: 70vh;
}

.welcome-content {
  position: absolute;
  width: 66%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome-content img {
  width: 25%;
  height: auto;
}

.welcome a {
  color: var(--scheme-blue);
}

.highlight {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.highlight-text {
  text-align: left;
  width: 100%;
}

.highlight img {
  float: right;
  width: 48%;
  padding-bottom: 20px;
  padding-left: 20px;
}

.modal {
  width: 500px;
  height: 250px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  border:solid;
  border-radius: 15px;
  padding: 20px;
}

.modal-content {
  width: 75%;;
  position:absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.modal .closeBtn {
  position:absolute;
  top:5px;
  right: 10px;
  width: 40px;
  height: 28px;
  background-color: var(--scheme-white);
  color: var(--scheme-black);
  padding-right: 6px;
}

.modal button {
  border-color: var(--scheme-black);
  border-style: solid;
  border-radius: 28px;
  font-family: neue-montreal-bold, helvetica;
  height: 38px;
  width: 100%;
  margin: 5px 0 0 0;
  background-color: var(--scheme-red);
  color: white;
  font-size: 17px;
}

.modal .btn {
  display: block;
  border-color: var(--scheme-black);
  border-style: solid;
  border-radius: 28px;
  font-family: neue-montreal-bold, helvetica;
  height: 28px;
  padding-top: 6px;
  width: 100%;
  margin: 5px 0 0 0;
  font-size: 17px;
  text-decoration: none;
}

.modal select {
  border-color: var(--scheme-black);
  border-style: solid;
  border-radius: 28px;
  font-family: neue-montreal-bold, helvetica;
  height: 38px;
  width: 100%;
  padding-left: 15px;
  background-color: var(--scheme-white);
  font-size: 17px;
  cursor: pointer;
  margin: 0 0 5px 0;
}

.modal h2 {
  margin: 0 0 5px 0;
}

.modal input {
  margin: 5px 0 5px 0;
}

.accountForm {
  height: 71vh;
  width: 100%;
}

.accountForm-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
}

.accountForm-content h1 {
  margin: 0 0 10px 0;
}

.accountForm-content p {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.accountForm-content button {
  margin-left: 10px;
  font-family: neue-montreal-medium, helvetica;
  font-size: 17px;
  width: 50px;
  margin-bottom: 10px;
}

.accountForm-content .submitButton {
  margin-bottom: 10px;
}

.noBorder {
  border: none;
  background-color: var(--scheme-white);
}

.loginForm {
  height: 67vh;
  width: 100%;
}

.loginForm-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.signupForm {
  height: 67vh;
  width: 100%;
}

.signupForm-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.signupForm-content h1{
  font-size: 40px;
  margin-bottom: 10px;
}

.signupForm p {
  font-size: 15px;
}

.signupForm a {
  text-decoration: none;
}

.loginForm-content h1{
  font-size: 40px;
  margin-bottom: 10px;
}

.loginForm p {
  font-size: 15px;
}

.loginForm a {
  text-decoration: none;
}

.inputField {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inputField input {
  height: 38px;
  box-sizing: border-box;
  width: 100%;
  border-color: var(--scheme-black);
  border-style: solid;
  border-radius: 28px;
  padding-left: 20px;
  padding-right: 16px;
  background-color: var(--scheme-white);
  font-family: neue-montreal-bold, helvetica;
  font-size: 17px;
}
::placeholder {
  font-family: neue-montreal-light, helvetica;
}

.inputHint {
  float: left;
  padding-left: 10px;
  font-size: 15px;
  color: #666;
  padding-bottom: 5px;
}

.submitButton, .googleButton {
  width: 100%;
  padding: 0;
}

.submitButton button, .googleButton button {
  height: 38px;
  width: 100%;
  font-family: neue-montreal-bold, helvetica;
  font-size: 17px;
  margin: 0;
}

.templateList li {
  list-style: none;
}

.googleButton button {
  background-color: var(--scheme-white);
  color: var(--scheme-black);
}

.googleButton img {
  height: 18px;
  float: left;
  padding-left: 11px;
  padding-top: 1px;
}

.templatePage {
  text-align: left;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  padding-top: 50px;
  min-height: 65vh;
  padding-bottom: 70px;
}

.templatePage-header {
  text-align: left;
}

.templatePage-header h1 {
  padding: 0;
  margin: 0 0 3px 0;
}

.templatePage-header h2 {
  padding: 0;
  margin: 0;
}

.templateCategory {
  text-align: left;
}

.templateCategory h2 {
  text-align: left;
}

.templateCategory-content {
  width: 100%;
  border-color: var(--scheme-black);
  border-style: solid;
  border-radius: 15px;
  padding: 10px 5px 16px 15px;
  text-align: left;
  height: 250px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.templateCard {
  display: inline-block;
  margin-right: 20px;
  width: 300px;
  height: 100%;
  border-color: var(--scheme-black);
  border-style: solid;
  border-radius: 15px;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  body {
    font-size: 22px;
  }
  .welcome-content {
    width: 60%;
  }
}
